body{
  background-color: beige;
}

#email{
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  box-sizing: border-box;
  border: 2px;
  background-color: white;
}

#confidential{
  display: inline-block;
  padding: 50px;
  margin-left: 10px;
  border: 2px solid black;
  transform: rotate(3deg);
}

#top-secret{
  display: inline-block;
  padding: 20px;
  margin-left: 10px;
  border: 2px solid red;
  transform: rotate(3deg);
}

.blurred{
  filter: blur(3px);
}
