body{
  background-color: midnightblue;
}

h1{
  color: white;
}

label{
  color: white;
}

input[type="checkbox"]{
  appearance: none;
  border: 6px solid white;
  vertical-align: center;
}

input[type="checkbox"]:checked{
  background-color: orange;
  border-color: black;
}

input[type="checkbox"]:checked::after{
  content: "✓";
}
